<div class='index_page'>
	<% if current_user %>
		<%= link_to 'Subjects', subjects_path(current_user), class: 'btn btn-primary btn-large btn-large1' %><br/><br/>
		<%= link_to 'Schedules', schedules_path(current_user), class: 'btn btn-primary btn-large btn-large2' %>
	<% else %>
		<div class='text_index_page'>
			<h2>Bem-Vindo!</h2></br></br>

			Este app tem por objetivo gerenciar os compromissos
			e disciplinas de um estudante universitário.<br/><br/>

			É possível cadastrar três tipos de disciplinas:<br/><br/>

			- Completed (Já concluídas)<br/>
			- Registered (Em curso)<br/>
			- Pending (Pendentes)<br/><br/>

			Baseado no cadastro das disciplinas, o aplicativo exibe em um gráfico a situação geral do andamento da graduação do estudante.<br/><br/>
		</div>
	<% end %>
</div>